{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Tickean Headless Checkout",
    "version": "1.0.0",
    "description": "Contrato público y versionado para checkouts personalizados. Usa claves publicables, listas de orígenes autorizados y sesiones de corta duración. Los identificadores internos de organizaciones nunca se aceptan como confiables desde el navegador.",
    "license": {
      "name": "API propietaria + SDK MIT",
      "url": "https://github.com/tickean/tickean-checkout-js"
    }
  },
  "servers": [
    {
      "url": "https://api.tickean.com",
      "description": "Producción"
    },
    {
      "url": "http://localhost:3000",
      "description": "Desarrollo local"
    }
  ],
  "tags": [
    { "name": "Sesiones" },
    { "name": "Catálogo" },
    { "name": "Comprador" },
    { "name": "Compra" },
    { "name": "Pagos" },
    { "name": "Administración" }
  ],
  "components": {
    "securitySchemes": {
      "PublishableKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tickean-Key",
        "description": "Clave publicable (`pk_test_…` o `pk_live_…`)"
      },
      "CheckoutSession": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tickean-Checkout-Session",
        "description": "Token opaco de sesión devuelto por POST /v1/checkout/sessions"
      }
    },
    "parameters": {
      "OriginHeader": {
        "name": "Origin",
        "in": "header",
        "required": true,
        "schema": { "type": "string", "example": "https://www.example.com" },
        "description": "Origen del navegador. Con claves de producción debe coincidir exactamente con un origen autorizado. Localhost solo se acepta con claves de prueba."
      }
    },
    "schemas": {
      "TickeanError": {
        "type": "object",
        "required": ["error", "code", "message"],
        "properties": {
          "error": { "type": "string", "example": "TickeanError" },
          "code": {
            "type": "string",
            "enum": [
              "checkout_key_required",
              "checkout_key_invalid",
              "checkout_key_revoked",
              "checkout_entitlement_disabled",
              "checkout_origin_required",
              "checkout_origin_not_allowed",
              "checkout_session_required",
              "checkout_session_invalid",
              "checkout_session_expired",
              "checkout_event_not_found",
              "checkout_return_url_invalid",
              "checkout_otp_required",
              "checkout_rate_limited",
              "checkout_cart_token_invalid",
              "checkout_price_mismatch",
              "checkout_idempotency_conflict"
            ]
          },
          "message": { "type": "string" },
          "requestId": { "type": "string" }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "required": ["eventSlug"],
        "properties": {
          "eventSlug": { "type": "string", "example": "demo-festival" },
          "returnUrl": {
            "type": "string",
            "format": "uri",
            "description": "Debe compartir un origen autorizado. Se usa después de que la redirección del proveedor vuelve mediante Tickean."
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "sessionToken": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "capabilities": {
            "type": "object",
            "additionalProperties": { "type": "boolean" }
          },
          "event": { "$ref": "#/components/schemas/PublicEvent" }
        }
      },
      "PublicEvent": {
        "type": "object",
        "properties": {
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "currency": { "type": "string", "example": "ARS" },
          "shows": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PublicShow" }
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["TRANSFER", "MERCADOPAGO", "STRIPE", "FREE"]
            }
          }
        }
      },
      "PublicShow": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "startsAt": { "type": "string", "format": "date-time" },
          "showOptions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PublicShowOption" }
          }
        }
      },
      "PublicShowOption": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "price": { "type": "number" },
          "availableStock": { "type": "integer" },
          "passIssuanceMode": {
            "type": "string",
            "enum": ["PER_DAY", "SINGLE_PASS"]
          },
          "catalogVisibility": {
            "type": "string",
            "enum": ["PUBLIC", "PROMO_GATED"],
            "description": "Las opciones PROMO_GATED se omiten hasta cotizar con un código válido que las habilite"
          }
        }
      },
      "QuoteItem": {
        "type": "object",
        "required": ["showOptionId", "amount"],
        "properties": {
          "showOptionId": { "type": "string" },
          "amount": { "type": "integer", "minimum": 1 }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuoteItem" }
          },
          "discountCode": { "type": "string" },
          "showId": { "type": "string" }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "currency": { "type": "string" },
          "subtotal": { "type": "number" },
          "discount": { "type": "number" },
          "serviceCharge": { "type": "number" },
          "totalPrice": { "type": "number" },
          "unlockedShowOptionIds": {
            "type": "array",
            "items": { "type": "string" }
          },
          "items": { "type": "array", "items": { "type": "object" } }
        }
      },
      "SendOtpRequest": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": { "type": "string", "example": "+5491112345678" },
          "channel": {
            "type": "string",
            "enum": ["WHATSAPP", "SMS"],
            "default": "WHATSAPP"
          }
        }
      },
      "VerifyOtpRequest": {
        "type": "object",
        "required": ["phone", "code"],
        "properties": {
          "phone": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" }
        }
      },
      "CreatePurchaseRequest": {
        "type": "object",
        "required": ["items", "paymentMethod", "currency"],
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuoteItem" }
          },
          "paymentMethod": {
            "type": "string",
            "enum": ["TRANSFER", "MERCADOPAGO", "STRIPE", "FREE"]
          },
          "currency": { "type": "string", "enum": ["ARS", "CLP", "USD"] },
          "showId": { "type": "string" },
          "discountCode": { "type": "string" },
          "shoppingCartReference": { "type": "string" },
          "idempotencyKey": { "type": "string" },
          "expectedTotal": {
            "type": "number",
            "description": "Total opcional informado por el cliente. El servidor lo recalcula y rechaza diferencias con checkout_price_mismatch."
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["orderId", "paymentMethod", "currency", "amount"],
        "properties": {
          "orderId": { "type": "string" },
          "paymentMethod": {
            "type": "string",
            "enum": ["TRANSFER", "MERCADOPAGO", "STRIPE"]
          },
          "currency": { "type": "string" },
          "amount": { "type": "number" }
        }
      },
      "PaymentStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "REJECTED", "EXPIRED"]
          },
          "purchaseId": { "type": "string" },
          "orderId": { "type": "string" }
        }
      }
    },
    "responses": {
      "TickeanError": {
        "description": "Error público estable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/TickeanError" }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/checkout/sessions": {
      "post": {
        "tags": ["Sesiones"],
        "summary": "Crear una sesión de checkout de corta duración",
        "security": [{ "PublishableKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSessionRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sesión creada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SessionResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/TickeanError" },
          "403": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/catalog": {
      "get": {
        "tags": ["Catálogo"],
        "summary": "Obtener el catálogo público del evento de la sesión",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "responses": {
          "200": {
            "description": "Catálogo público normalizado, sin opciones PROMO_GATED",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicEvent" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/quote": {
      "post": {
        "tags": ["Catálogo"],
        "summary": "Cotizar en el servidor con un código opcional",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Totales cotizados",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/TickeanError" },
          "409": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/otp/send": {
      "post": {
        "tags": ["Comprador"],
        "summary": "Enviar OTP al comprador con límite de solicitudes",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendOtpRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "OTP enviado" },
          "429": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/otp/verify": {
      "post": {
        "tags": ["Comprador"],
        "summary": "Verificar OTP y vincular el comprador con la sesión",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyOtpRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Comprador verificado en la sesión" },
          "401": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/purchases": {
      "post": {
        "tags": ["Compra"],
        "summary": "Crear una compra idempotente con precios revalidados",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePurchaseRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Compra creada" },
          "401": { "$ref": "#/components/responses/TickeanError" },
          "409": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/payments": {
      "post": {
        "tags": ["Pagos"],
        "summary": "Iniciar una transferencia o redirección de pago online",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePaymentRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Intención de pago o datos de transferencia" },
          "401": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/v1/checkout/payments/status": {
      "get": {
        "tags": ["Pagos"],
        "summary": "Consultar el estado del pago de la compra de la sesión",
        "security": [{ "PublishableKey": [], "CheckoutSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OriginHeader" }],
        "responses": {
          "200": {
            "description": "Estado actual del pago",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentStatusResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/TickeanError" }
        }
      }
    },
    "/integrations/checkout": {
      "get": {
        "tags": ["Administración"],
        "summary": "Dashboard: habilitación, claves, orígenes y webhooks",
        "description": "Endpoint autenticado para administradores de la organización. No debe usarse desde el navegador con claves publicables.",
        "responses": {
          "200": { "description": "Estado de la integración" }
        }
      }
    },
    "/integrations/checkout/origins": {
      "put": {
        "tags": ["Administración"],
        "summary": "Reemplazar los orígenes autorizados",
        "responses": {
          "200": { "description": "Orígenes actualizados" }
        }
      }
    },
    "/integrations/checkout/keys": {
      "post": {
        "tags": ["Administración"],
        "summary": "Crear una clave publicable, mostrada completa una sola vez",
        "responses": {
          "201": { "description": "Clave creada" }
        }
      }
    },
    "/integrations/checkout/keys/{keyId}": {
      "delete": {
        "tags": ["Administración"],
        "summary": "Revocar una clave publicable",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Clave revocada" }
        }
      }
    },
    "/integrations/checkout/webhooks": {
      "post": {
        "tags": ["Administración"],
        "summary": "Registrar un webhook con secreto mostrado una sola vez",
        "responses": {
          "201": { "description": "Webhook creado" }
        }
      }
    }
  }
}
